{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
{% if user.is_authenticated %}
    Rango says... hello {{ user.username }}!
{% else %}
    Rango says... hello world!
{% endif %}
{% endblock %}

{% block body_block %}
    {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	    
       <h1>Top 5 Most Viewed Pages</h1>
       {% if pages %}
           <ul>
	     {% for page in pages %}
	        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
	     {% endfor %}
           </ul>
       {% else %}
           <strong>There are no pages present.</strong>
       {% endif %}
       <p> visits: {{ visits }}</p>
{% endblock %}

